#context {
    /*text-align: center;*/
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
    /*font-weight: bold;*/
    font-size: 1.2em;
    margin: 5px 5px 5px 5px;
}

#context-center {
    text-align: center;
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
    /*font-weight: bold;*/
    font-size: 1.2em;
    margin: 5px 5px 5px 5px;
}

pre {
    background-color: #CCCCFA;
    padding:10px;
    overflow: auto;
    white-space: pre-wrap;
}

.notice {
    max-width:600px;
    margin:auto;
    font-size:1em;
}

.notice > h4 {
    margin-bottom: 0.2em;
}

.notice > ul {
    margin-top: 0.2em;
}