@charset "utf-8";

canvas {
    width: 484px;
    height: 645px;
}

#gridBox {
    float: left;
    width: auto;
    max-width: 700px;
    margin-right: 6px;
}

#grid1 {
    width: 100% !important;
    height: 390px !important;
    background-color: white !important;
}

#grid2 {
    width: 100% !important;
    height: 225px !important;
    background-color: white !important;
}

#canvasBox {
    float: left;
}

#header {
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
}

#footer {
    clear: left;
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
}

#totalCredits {
    display: inline;
    font-size: 0.8em
}
