@charset "utf-8";
*{
	padding:0px;
}

a{
	text-decoration:none;
}
li{list-style:none;}

canvas {
    width: 484px;
    height: 500px;
}


#gridBox {
    float: left;
    width: auto;
    max-width: 700%;
    margin-right: 6px;
}

#grid1 {
    width: 100% !important;
    height: 390px !important;
    background-color: white !important;
}

#grid2 {
    width: 100% !important;
    height: 225px !important;
    background-color: white !important;
}

#canvasBox {
    /*float: left;*/
}

#header {
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
    font-size: 1.0em;
    padding-bottom: 5px;
}

#footer {
    clear: left;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
}

#totalCredits {
    display: inline;
    font-size: 0.8em
}

.tab_title li {
	font-family:"맑은 고딕", "Malgun Gothic", "돋움", "Dotum";
    padding-top:5px;
    padding-bottom:5px;
    float: left;
    position: relative;
    width : 50%;
   	font-size : 20px;
   	text-align:center;
    background: #e87352;
}


